<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your Recipe</title>
    <link rel='stylesheet' href='/styles/results.css'>
  </head>
  <body>
    <h1>Here are your recipes</h1>
    <section>

      {% for result in results.results %}
      <div id="flexbox">
        {% if result.thumbnail %}
        <div id="img">
            <img id="image" src="{{ result.thumbnail }}">
        </div>
        {% endif %}
      <div id="text">
        <h2 id="title">
          <p>{{ result.title }}
        </h2>
        <div id="ingredients">
          <p>{{ result.ingredients }}</p>
        </div>
      </div>
      </div>
      {% endfor %}

    </section>
    <p><a href='/'>Search Again</a></p>
  </body>
</html>
