<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your Recipe</title>
    <link rel='stylesheet' href='/styles/results.css'>
  </head>
  <body>
    <h1>Here are your recipes</h1>
    <section>

      {% for result in results.results %}
      <div id="flexbox">
      <div>
        <!-- {% if "" in {{ result.thumbnail }} %} -->
            <img id="image" src="{{ result.thumbnail }}">
        <!-- {% endif %} -->
      </div>
      <div id="text">
        <p>{{ result.title }}
        <p>{{ result.ingredients }}</p>
      </div>
      </div>
      {% endfor %}

    </section>
    <p><a href='/'>Search Again</a></p>
  </body>
</html>
